/*
Theme Name: DA Catering YYC Child
Theme URI: https://example.com/da-catering-yyc-child
Author: DA Catering YYC
Author URI: https://example.com
Description: Child theme for DA Catering YYC.
Template: da-catering-yyc
Version: 1.1.1
Text Domain: da-catering-yyc-child
*/
